td {
/*   padding: 10px; */
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

tr,td {
  border: 1px solid black;
}


nav.menu li {
  display: inline-block;
}

nav.menu ul {
  padding-left: 0;
  text-align: center;
  display: inline-block;
}




/* GLOBALŪS STILIAI */
/* GLOBAL STYLES */
body {
  font-size: 18px;
  color: grey;
}

h1, h2, h3, h4, p {
  border: 1px solid black;
/*   padding: 5px 7px 10px 20px; */
/*   padding: 5px 10px; */
  padding: 5px;
}

h1, h2, h3 {
  /*  teksto pavertimas  */
  font-style: italic;
  /* teksto pastorinimas   */
  font-weight: 600;
}

h1 {
  font-size: 52px;
  color: #69d1e6;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 21px;
}

p {
/*   color: red; */
/*   background-color: black; */
}

/* GLOBALIOS KLASĖS */
/* Galioja visiem elementam */

/* GLOBAL CLASSES */
/* Klasės selektorius */
.right {
  text-align: right;
}

.big {
  font-size: 42px;
}

.text-blue {
  color: blue;
}

.background-blue {
  background-color: blue;
}

/* ID selektorius */
#unique-paragraph {
  color: red;
}
